<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <appSettings>
    <add key="IsAutoUpdate" value="true" />
    <add key="IsSendWsNotify" value="false" />
    <add key="ContactAuthorUrl" value="http://wpa.qq.com/msgrd?v=3&amp;uin=234486036&amp;site=qq&amp;menu=yes" />
    <add key="TxoooUserDefultHeadPic" value="https://img.txooo.com/2016/04/18/43dddcd3fff51e5418c33dbeef55c001.png" />
    <add key="accessDb" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=data/txooo.mdb;Persist Security Info=False" />
    <add key="remember" value="true" />
    <add key="MaxThreadCount" value="5" />
    <add key="RandomMaxValue" value="5000" />
    <add key="RandomMinValue" value="1000" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
    <add key="FindPassWordUrl" value="https://passport.7518.cn/findpwd.html" />
    <add key="RegisterUrl" value="https://passport.7518.cn/Register.html?ShareCode=207732" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleUpdater" publicKeyToken="c532149a76b9a64b" />
        <bindingRedirect oldVersion="1.0.0.0-99.99.99.99" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.0" newVersion="1.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSLib.Network" publicKeyToken="eb0741d7f117d5c6" />
        <bindingRedirect oldVersion="1.0.0.0-9.9.9.9" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSLib.Extension" publicKeyToken="61d6a007a0eb6994" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
