<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <appSettings>
    <add key="update" value="true" />
    <add key="accessDb" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=data/txooo.mdb;Persist Security Info=False" />
    <add key="remember" value="true" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
    <add key="findpwd" value="https://passport.7518.cn/findpwd.html" />
    <add key="register" value="https://passport.7518.cn/Register.html?ShareCode=207732" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;" />
      <dependentAssembly>
        <assemblyIdentity name="FSLib.Extension" publicKeyToken="61d6a007a0eb6994" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
