<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--数据库信息-->
  <Database type="Iwenli.Data.DatabaseConfig" file="Iwenli_Data.config">
    <ConnString>
      <Iwenli IfEncrypt="false">Server=bds260192675.my3w.com;Database=bds260192675_db;UID=bds260192675;Password=1qaz2wsx;</Iwenli>
      <TxoooCRM2013 IfEncrypt="false">Server=192.168.1.6;Database=TxoooCRM2013;UID=TxoooOfficeUser;Password=TxoooOfficeUser;</TxoooCRM2013>
      <TxoooFinance_2013 IfEncrypt="false">Server=10.10.10.29;Database=TxoooFinance_2013;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooFinance_2013>
      <TxoooBrands IfEncrypt="false">Server=10.10.10.29;Database=TxoooBrands;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooBrands>
      <TxoooPassport IfEncrypt="false">Server=10.10.10.30;Database=TxoooPassport;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooPassport>
      <TxoooCloud IfEncrypt="false">Server=10.10.10.29;Database=TxoooCloud;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooCloud>
      <TxoooPassportOld IfEncrypt="false">Server=10.10.10.10;Database=TxoooPassport;UID=TxoooPassportWebUser;Password=TxoooPassportWeBUsErPswOrd;</TxoooPassportOld>
      <TxoooCMS IfEncrypt="true">Server=10.10.10.12;Database=TxoooEnterprise;UID=TxoooEnterpriseWebUser;Password=TxoooEnterpriseWEBUserPsword;</TxoooCMS>
      <TxoooEnterprise IfEncrypt="false">Server=10.10.10.12;Database=TxoooEnterprise;UID=TxoooEnterpriseWebUser;Password=TxoooEnterpriseWEBUserPsword;</TxoooEnterprise>
      <TxoooSaaS>44474B38476342686A33795A4D545270373061366E47786358497042504C442F2B583153555851566678454B58784D664B35666767545959692B466C5A716F573774497A3468552B3369714171626A4A75332B6266692F6B58436336493637584B35782F76324A4D58676C5A4E6C456C705955644A41434437757241784C6956553358335248355345452F494C4654393149335466513D3D</TxoooSaaS>
      <ClickStream IfEncrypt="false">Server=10.10.10.253;Database=ClickStream;UID=TxWebClickStreamLogUser;Password=TxWebClickStreamLogUser;</ClickStream>
      <TxoooUserLog IfEncrypt="false">Server=10.10.10.41;Database=TxoooUserLog;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooUserLog>
      <TxoooAgent IfEncrypt="false">Server=10.10.10.212;Database=TxoooAgent;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooAgent>
      <TxoooAgentIM IfEncrypt="false">Server=10.10.10.212;Database=TxoooAgentIM;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooAgentIM>
      <TxoooMobile IfEncrypt="false">Server=10.10.10.31;Database=TxoooMobile;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooMobile>
      <TxoooBrandShop IfEncrypt="false">Server=10.10.10.29;Database=TxoooBrandShop;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooBrandShop>
    </ConnString>
  </Database>

  <!--日志调试信息-->
  <log4net path="./log/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>
    <!--日志记录对象-->
    <logger name="Iwenli.Config">
      <level value="ALL" />
      <appender-ref ref="Iwenli.Config.Appender" />
    </logger>
  </log4net>
</configuration>
