<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--数据库信息-->
  <Database type="Iwenli.Data.DatabaseConfig" file="Wl_Data.config">
    <ConnString>
      <Iwenli IfEncrypt="false">Server=bds260192675.my3w.com;Database=bds260192675_db;UID=bds260192675;Password=1qaz2wsx;</Iwenli>
    </ConnString>
  </Database>

  <!--日志调试信息-->
  <log4net path="./log/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>
    <!--日志记录对象-->
    <logger name="wl.Config">
      <level value="ALL" />
      <appender-ref ref="Iwenli.Config.Appender" />
    </logger>
  </log4net>
</configuration>

